html {
  background: #f9f9f9;
}

body {
  background: transparent;
  min-height: 100%;
}


.color-pill {
  display: inline-block;
  padding: 6px;
  min-width: 90px;
  text-align: center;
  margin: 2px;
  text-shadow: 1px 1px rgba(255,255,255,0.3);
}
